.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-button-a, .btn-button-a:hover{
  background-color: #46139f;
  border-color: #46139f;
  color: #ffffff;
}

.btn-button-b, .btn-button-b:hover{
  background-color: #ff7f50;
  border-color: #ff7f50;
  color: #ffffff;
}

.btn-button-c, .btn-button-c:hover{
  background-color: #ffffff;
  border-color: #46139f;
  color: #000000;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #0000007d;
}

.contact-list-wrapper{
  height: 200px;
  overflow: scroll;

  li{
    cursor: pointer;
  }
}